html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  color: #333;
  line-height: 1.5;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
}

h2 {
  display: inline-block;
  text-align: left;
  color: #333;
  font-weight: bold;
  margin: 0 0 1.5rem;
}

div {
  position: relative;
  display: inline-block;
  padding: 1em;
  max-width: 25em;
  min-width: 300px;
  vertical-align: middle;
  text-align: left;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0 0 1.5rem;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: .5em 1em;
  border: 3px solid #333;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.btn:hover {
  background-color: #666;
}
